/* aplicando em todos os elementos */
*{
    margin: 0;
    padding: 0;
}

/* Todos os h1 receberão esse estilo 

h1{
    background-color: blue;
}*/

/* O id titulo receberá esse estilo 
#titulo{
    background-color: aqua;
}*/

/* A classe receberá esse estilo
.subtitulo{
    background-color: blueviolet;
}*/
fieldset{
    border: 0;
}
body{
    background-color: white;
    font-family: sans-serif;
    font-size: 1rem;
    color: blue;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, button{
    background-color: white;
    font-family: sans-serif;
    font-size: 1rem;
    color: blue;
    border-radius: 5px;
}
.campo{
    margin-top: 1rem;
}

.campo label{
    margin-bottom: 1 rem;
    color: blue;
    display: block;
}